In [1]:
import pandas as pd
import numpy as np

In [11]:
orders = pd.read_csv("olist_orders_dataset.csv")
orders.head()

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18 00:00:00
1,53cdb2fc8bc7dce0b6741e2150273451,b0830fb4747a6c6d20dea0b8c802d7ef,delivered,2018-07-24 20:41:37,2018-07-26 03:24:27,2018-07-26 14:31:00,2018-08-07 15:27:45,2018-08-13 00:00:00
2,47770eb9100c2d0c44946d9cf07ec65d,41ce2a54c0b03bf3443c3d931a367089,delivered,2018-08-08 08:38:49,2018-08-08 08:55:23,2018-08-08 13:50:00,2018-08-17 18:06:29,2018-09-04 00:00:00
3,949d5b44dbf5de918fe9c16f97b45f8a,f88197465ea7920adcdbec7375364d82,delivered,2017-11-18 19:28:06,2017-11-18 19:45:59,2017-11-22 13:39:59,2017-12-02 00:28:42,2017-12-15 00:00:00
4,ad21c59c0840e6cb83a9ceb5573f8159,8ab97904e6daea8866dbdbc4fb7aad2c,delivered,2018-02-13 21:18:39,2018-02-13 22:20:29,2018-02-14 19:46:34,2018-02-16 18:17:02,2018-02-26 00:00:00

In [12]:
order_items = pd.read_csv("olist_order_items_dataset.csv")
order_items.head()

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14

In [13]:
products = pd.read_csv("olist_products_dataset.csv")
products.head()

,product_id,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm
0,1e9e8ef04dbcff4541ed26657ea517e5,perfumaria,40.0,287.0,1.0,225.0,16.0,10.0,14.0
1,3aa071139cb16b67ca9e5dea641aaa2f,artes,44.0,276.0,1.0,1000.0,30.0,18.0,20.0
2,96bd76ec8810374ed1b65e291975717f,esporte_lazer,46.0,250.0,1.0,154.0,18.0,9.0,15.0
3,cef67bcfe19066a932b7673e239eb23d,bebes,27.0,261.0,1.0,371.0,26.0,4.0,26.0
4,9dc1a7de274444849c219cff195d0b71,utilidades_domesticas,37.0,402.0,4.0,625.0,20.0,17.0,13.0

In [14]:
customers = pd.read_csv("olist_customers_dataset.csv")
customers.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [15]:
category_translation = pd.read_csv("product_category_name_translation.csv")
category_translation.head()

    product_category_name product_category_name_english
0            beleza_saude                 health_beauty
1  informatica_acessorios         computers_accessories
2              automotivo                          auto
3         cama_mesa_banho                bed_bath_table
4        moveis_decoracao               furniture_decor

In [16]:
orders_filtered = orders[
    (orders["order_status"] == "delivered") &
    (orders["order_delivered_customer_date"].notna())
].copy()

In [17]:
orders_filtered["order_delivered_customer_date"] = pd.to_datetime(
    orders_filtered["order_delivered_customer_date"]
)

In [18]:
sales = orders_filtered.merge(
    order_items,
    on="order_id",
    how="inner"
)

In [20]:
sales = orders_filtered.merge(
    order_items,
    on="order_id",
    how="inner"
)

In [21]:
sales = sales.merge(
    products[["product_id", "product_category_name"]],
    on="product_id",
    how="left"
)

In [22]:
sales = sales.merge(
    category_translation,
    on="product_category_name",
    how="left"
)

sales.rename(columns={
    "product_category_name_english": "product_category"
}, inplace=True)

In [23]:
sales = sales.merge(
    customers[["customer_id", "customer_state", "customer_city"]],
    on="customer_id",
    how="left"
)

In [24]:
sales["total_item_revenue"] = sales["price"] + sales["freight_value"]

In [25]:
sales["year"] = sales["order_delivered_customer_date"].dt.year
sales["month"] = sales["order_delivered_customer_date"].dt.month
sales["year_month"] = sales["order_delivered_customer_date"].dt.to_period("M").astype(str)

In [26]:
final_df = sales[
    [
        "order_id",
        "order_delivered_customer_date",
        "year",
        "month",
        "year_month",
        "product_id",
        "product_category",
        "seller_id",
        "customer_state",
        "customer_city",
        "price",
        "freight_value",
        "total_item_revenue"
    ]
].copy()

In [28]:
final_df.to_csv(
    "sales_revenue_analytics.csv",
    index=False
)

In [29]:
salesdf=pd.read_csv("sales_revenue_analytics.csv")
salesdf.head()

,order_id,order_delivered_customer_date,year,month,year_month,product_id,product_category,seller_id,customer_state,customer_city,price,freight_value,total_item_revenue
0,e481f51cbdc54678b7cc49136f2d6af7,2017-10-10 21:25:13,2017,10,2017-10,87285b34884572647811a353c7ac498a,housewares,3504c0cb71d7fa48d967e0e4c94d59d9,SP,sao paulo,29.99,8.72,38.71
1,53cdb2fc8bc7dce0b6741e2150273451,2018-08-07 15:27:45,2018,8,2018-08,595fac2a385ac33a80bd5114aec74eb8,perfumery,289cdb325fb7e7f891c38608bf9e0962,BA,barreiras,118.70,22.76,141.46
2,47770eb9100c2d0c44946d9cf07ec65d,2018-08-17 18:06:29,2018,8,2018-08,aa4383b373c6aca5d8797843e5594415,auto,4869f7a5dfa277a7dca6462dcf3b52b2,GO,vianopolis,159.90,19.22,179.12
3,949d5b44dbf5de918fe9c16f97b45f8a,2017-12-02 00:28:42,2017,12,2017-12,d0b61bfb1de832b15ba9d266ca96e5b0,pet_shop,66922902710d126a0e7d26b0e3805106,RN,sao goncalo do amarante,45.00,27.20,72.20
4,ad21c59c0840e6cb83a9ceb5573f8159,2018-02-16 18:17:02,2018,2,2018-02,65266b2da20d04dbe00c5c2d3bb7859e,stationery,2c9e548be18521d1c43cde1c582c6de8,SP,santo andre,19.90,8.72,28.62

In [30]:
salesdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 110189 entries, 0 to 110188
Data columns (total 13 columns):
 #   Column                         Non-Null Count   Dtype
---  ------                         --------------   -----
 0   order_id                       110189 non-null  object
 1   order_delivered_customer_date  110189 non-null  object
 2   year                           110189 non-null  int64
 3   month                          110189 non-null  int64
 4   year_month                     110189 non-null  object
 5   product_id                     110189 non-null  object
 6   product_category               108630 non-null  object
 7   seller_id                      110189 non-null  object
 8   customer_state                 110189 non-null  object
 9   customer_city                  110189 non-null  object
 10  price                          110189 non-null  float64
 11  freight_value                  110189 non-null  float64
 12  total_item_revenue             110189 non-null  float64
dtypes: float64(3), int64(2), object(8)
memory usage: 10.9+ MB

In [31]:
final_df["year_month"].nunique()

25